body {
    background-image: url('fondonetflix.jpg');
    font-family: Helvetica, sans-serif;
    color: white;
    position: relative;
    margin: 0px;
}
nav {
  width: fit-content;
  margin: 10px;
}
img {
    max-width: 100%;
    height: 35px;
}
.logonetflix {
    position: absolute;
    float: left;
}
.iniciosesion {
    background-color: red;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    font-size: 15px;
    border: red;
    border-radius: 3px;
    padding: 8px;
    float: right;
  
}
main {
    text-align: center;
}
h1 {
    font-size: 50px;
}
p {
    font-size: 25px;
}
p2 {
    font-size: 20px;
}
.emailbox {
    background-color: white;
    color: white;
    border-radius: 2px;
    font-size: 15px;
    text-decoration: none;
    display: inline-block;
    border-style: solid;
    padding: 7px;
}
.comienzaya{
    background-color: red;
    color: white;
    border-radius: 2px;
    text-decoration: none;
    border-color: red;
    border-style: solid;
    font-size: 15px;
    padding: 7px;
}


